@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Propriedades para o WebKit */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background: #d1e073;
  box-shadow: inset 0 0 5px #cacaca;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #fffc;
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 7px;
  }
}

select {
  appearance: none;
}
